<div ng-cloak style="align-content: center">
        <!--a href="/#!/joinGroups" class="btn-floating halfway-fab waves-effect waves-light teal darken-1"><i class="material-icons">add</i></a-->
        <a style="float:right" class="btn btn-big waves-effect waves-light teal darken-1" ng-click="groupsCtrl.redirectToJoinGroups()">
            <i class="material-icons">add</i>
        </a>
    <center><h2>Groups</h2></center>
    <div>
        <!-- Here come the messages in the chat, each one presented in card -->
        <div ng-repeat="g in groupsCtrl.groupList">
            <!-- This card prodives space for the message and Like/dislike buttons -->
            <div class="row">
                <div class="col s12 m12 l6">
                    
                    <div class="card" style="align-content: center">
                        <div class="card-image">
                            <img src="images/group.jpg" width="100" height="300">
                            <!-- Card Title is the name of the group chat-->
                            <a href="/#!/chat/{{g.id}}/{{g.name}}" class="btn-floating halfway-fab waves-effect waves-light teal darken-1"><i class="material-icons">create</i></a>
                            <div class="card-content">
                                <p>
                                    <span class="card-title"><h3 style="color:#00897b">{{g.name}}</h3></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>