<div ng-cloak style="align-content: center">  
    <center><h2>Welcome to QuePasApp!</h2></center>
    <div class="row"><br>
        <div class="col s12 m12">
            <div class="card teal darken-1">
                <div class="card-content">
                    <div class="form-field">
                            <label for="username" style="color:white; font-size:20px">Username</label>
                            <input type="text" style="color:white; font-size:20px" id="username" ng-model="loginCtrl.email">
                    </div><br>
                    <div class="form-field" >
                            <label for="password" style="color:white; font-size:20px">Password</label>
                            <input type="password" style="color:white; font-size:20px" id="password" ng-model="loginCtrl.password">
                    </div><br>
                    <div class="form-field">
                        <button class="btn-large waves-effect waves-dark" style="width:20%;" ng-click="loginCtrl.login()">Login</button>
                        <button class="btn-large waves-effect waves-dark" style="width:20%; float:right" ng-click="loginCtrl.register()">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>